/package-info.class
/Lambda.class
/LambdaExample.class
/Circle.class
/Shape.class
/Square.class
/LambdaParameters.class
/Addable.class
/RunnableLambdaExample.class
/ThreadDemo.class
/FunctionalIntherface.class
/MyFunctionalInterface.class
/LambdaFunctionalInterface.class
/FunctionDemo.class
/FunctionImpl.class
/ConsumerDemo.class
/ConsumerImp.class
/SupplierDemo.class
/Supplierimpl.class
/MethodReferenceDemo.class
